* {
	border:0;
	font-family:Helvetica, Arial, sans-serif;
	font-size:1.0em;
	margin:0;
	outline:0;
	padding:0
}
	
body {
	background:#fdfdfd
}

article {
	display:block;
	margin:100px auto;
	width:600px
}

h1 {
	border-bottom:1px #eee solid;
	color:#666;
	font-family:Segoe UI Light, Helvetica, Arial, sans-serif;
	font-size:150%;
	margin-bottom:40px;
	padding-bottom:20px
}

h1 span { 
	color:#6f5987;
	font-family:inherit
}

p {
	color:#333;
	font-family:Segoe UI, Helvetica, Arial, sans-serif;
	font-size:92%;
	margin-bottom:20px
}

strong { color:#555 }

pre {
	background:#f8f8f8;
	border:1px #ddd dashed;
	color:#666;
	font-family:Monaco, monospace;
	font-size:88%;
	margin-bottom:40px;
	padding:10px 10px 10px 15px;
	text-shadow:0 1px 0 #fff;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word
}