<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	Options +FollowSymLinks
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
	RewriteRule ^(.*)$ $1/

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteRule ^(.+)$ index.php/$1 [L]
</IfModule>